/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; max-width: 100%; background-color: #F8F1FF; }
body { margin-left: 2%; margin-right: 2%; font-family: Roboto, "Helvetica Neue", sans-serif; }

