<div class="flex flex-col mt-5 mb-5">
  <h3 class="text-lg font-bold text-center">Add a new field to mask</h3>
  <form class="example-form" [formGroup]="data.addFieldsToMaskForm">
    <div class="flex flex-col justify-between mr-[5%] ml-[5%]">
      <mat-form-field class="example-full-width">
        <mat-label>Segment</mat-label>
        <input matInput placeholder="Enter Segment" formControlName="segment" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Field</mat-label>
        <input
          matInput
          placeholder="Enter Field Position"
          formControlName="field"
          pattern="[0-9]*"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Sub Field</mat-label>
        <input
          matInput
          placeholder="Enter Sub Field Position"
          formControlName="subField"
          pattern="[0-9]*"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Field Name</mat-label>
        <input matInput placeholder="Enter Name of the field" formControlName="fieldName" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Min Length</mat-label>
        <input matInput placeholder="Enter Length" formControlName="minLength" pattern="[0-9]*" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Max Length</mat-label>
        <input matInput placeholder="Enter Length" formControlName="length" pattern="[0-9]*" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mask Type</mat-label>
        <mat-select formControlName="type">
          @for (type of data.maskingTypes; track type) {
            <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (data.addFieldsToMaskForm.value.type == 'ValueSet') {
        <mat-form-field class="example-full-width">
          <mat-label>Enter one value per line</mat-label>
          <textarea
            class="textarea-full-width"
            matInput
            formControlName="valueSet"
            placeholder="Paste the HL7 Message Here"
          ></textarea>
        </mat-form-field>
      }
    </div>

    <div class="flex flex-row justify-center">
      <button
        [disabled]="!data.addFieldsToMaskForm.valid"
        (click)="addField()"
        class="flex items-center gap-2 px-4 py-2 bg-[#1B998B] text-white rounded-md transition-all font-medium border border-gray-300 cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-check-lg"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"
          />
        </svg>
        Submit
      </button>
      <button
        (click)="data.addFieldsToMaskForm.reset()"
        class="flex items-center gap-2 px-4 py-2 bg-[#534D56] text-white rounded-md transition-all font-medium border border-gray-300 cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
          />
        </svg>
        Reset
      </button>
    </div>
  </form>
</div>
