<div class="flex flex-col">
  <mat-tab-group>
    @for (item of data['data'] | keyvalue; track $index) {
    <mat-tab [label]="item.key">
      @for (fieldPosition of item.value; track $index) {
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div class="flex flex-row justify-between">
            <div>
              @if(fieldPosition && fieldPosition.subField) {
              {{ item.key }}-{{ fieldPosition.field }}.{{ fieldPosition.subField }}
              } @else {
              {{ item.key }}-{{ fieldPosition.field }}
              }
            </div>
            <div>
              <img
                class="h-6 w-6 cursor-pointer"
                (click)="removeField(fieldPosition, item.key)"
                src="x-circle-fill.svg"
              />
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      }
    </mat-tab>
    }
  </mat-tab-group>

  <div class="flex flex-col">
    <form class="example-form" [formGroup]="data.addFieldsToMaskForm">
      <div class="flex flex-col justify-between">
        <mat-form-field class="example-full-width">
          <mat-label>Segment</mat-label>
          <input matInput placeholder="Enter Segment" formControlName="segment" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Field</mat-label>
          <input
            matInput
            placeholder="Enter Field Position"
            formControlName="field"
            pattern="[0-9]*"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Length</mat-label>
          <input matInput placeholder="Enter Length" formControlName="length" pattern="[0-9]*" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Sub Field</mat-label>
          <input
            matInput
            placeholder="Enter Sub Field Position"
            formControlName="subField"
            pattern="[0-9]*"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mask Type</mat-label>
          <mat-select formControlName="type">
            @for (type of data.maskingTypes; track type) {
            <mat-option [value]="type.value">{{ type.viewValue }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <button
        [disabled]="!data.addFieldsToMaskForm.valid"
        (click)="data.addEvent.emit()"
        matButton="filled"
      >
        Submit
      </button>
    </form>
  </div>
</div>
