<div class="absolute top-2">
  <div class="flex flex-row">
    <dialog-button
      class="my-custom-theme"
      [control]="addFieldsToMaskForm"
      [dialogButtonText]="'Configure'"
      [addFieldsToMaskForm]="addFieldsToMaskForm"
      [maskingTypes]="maskingTypes"
      (addEvent)="addFieldToMask()"
    ></dialog-button>
    <mat-divider class="my-custom-theme"></mat-divider>
  </div>
</div>

<div class="flex flex-col">
  <div class="flex flex-row justify-center">
    <form class="textarea-form">
      <mat-form-field class="textarea-full-width">
        <mat-label>Enter HL7 Message</mat-label>
        <textarea
          class="textarea-full-width"
          matInput
          [formControl]="phiInputFormControl"
          placeholder="Paste the HL7 Message Here"
        ></textarea>
      </mat-form-field>
    </form>
  </div>

  <div>
    <div class="flex flex-row justify-center">
      <button
        [disabled]="!(phiInputFormControl.valid && phiInputFormControl.value?.slice(0, 3) == 'MSH')"
        (click)="maskPhi()"
        matButton="filled"
      >
        <mat-icon>remove_red_eye</mat-icon> Mask
      </button>
      <button
        style="background-color: #222324"
        (click)="phiInputFormControl.reset(); showResults = false"
        matButton="filled"
        ButtonType="reset"
      >
        <mat-icon>cancel</mat-icon> Reset
      </button>
    </div>
    @if (phiInputFormControl.dirty && phiInputFormControl.valid && showResults) {
    <div class="mt-[20px]">
      <div class="flex flex-col justify-center items-center">
        <form class="textarea-form">
          <mat-form-field class="textarea-full-width">
            <textarea
              [disabled]="true"
              class="textarea-full-width"
              id="maskedPhiValueArea"
              matInput
              [value]="maskedPhiValue"
            ></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="flex flex-row justify-center">
        <button (click)="copyToClipboard()" matButton="filled">
          <mat-icon>file_copy</mat-icon> Copy
        </button>
      </div>
    </div>
    }
  </div>
</div>
